.footer {
    padding: 1.5rem 0;
    background-color: #060501;
    color: white;

    .footer-row {
        display: flex;
        justify-content: space-between;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .footer__logo {
        width: 150px;
        height: 50px;

        @media (max-width: 991px) {
            margin-bottom: 10px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .footer__menu {
        column-count: 4;

        @media (max-width: 991px) {
            column-count: 2;
            text-align: center;
        }

        a {
            display: block;
            margin-bottom: 10px;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer__social {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @media (min-width: 992px) {
            text-align: right;
            justify-content: flex-end;
        }
        @media (max-width: 991px) {
            justify-content: center;
            text-align: center;
            margin: 10px auto 0;
        }

        span {
            width: 100%;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border: 1px solid #ccc;
            border-radius: 50%;
            transition: all .3s ease;

            svg {
                width: 16px;
                height: 16px;
                color: #ccc;
                transition: all .3s ease;
            }

            &:hover {
                background-color: rgb(80, 80, 226);
                border-color: rgb(80, 80, 226);

                svg {
                    color: white;
                }
            }
        }
    }
}