.is-home {
    .home-row {
        display: grid;
        grid-template-columns: 240px 1fr;
        gap: 40px;
        padding: 40px 0;
        border-bottom: 1px solid #c1c2c8;

        @media (max-width: 991px) {
            grid-template-columns: 1fr;
        }
    }
}
.is-page {
    main {
        padding: 20px 0;

        @media (max-width: 991px) {
            padding-top: 60px;
        }
    }

    .page-row {
        display: grid;
        grid-template-columns: 240px 1fr;
        gap: 40px;

        @media (max-width: 991px) {
            grid-template-columns: 1fr;
        }
    }
}