.cart {
    margin-bottom: 30px;

    &__title {
        padding: 24px 0 15px;
        text-transform: uppercase;
    }
    .cart-form {
        width: 100%;

        .purchase {
            width: 100%;

            @media (min-width: 768px) {
                display: table;
                border-top: 1px solid #ddd;
            }

            .item {
                margin-bottom: 20px;
                padding: 10px 0;
                border: 1px solid #ddd;
                position: relative;

                @media (min-width: 768px) {
                    display: table-row;
                    border: none;
                    margin: 0;
                    padding: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }

                & > * {
                    padding: 10px;
                    vertical-align: middle;
                    text-align: center;

                    @media (min-width: 768px) {
                        display: table-cell;
                        border-bottom: 1px solid #ddd;
                    }
                }

                &__img {
                    @media (min-width: 768px) {
                        width: 70px;
                        padding-left: 0;
                    }
                    @media (max-width: 767px) {
                       display: flex;
                       justify-content: center;
                    }
                }

                &__title {
                    text-align: left;

                    @media (max-width: 767px) {
                        text-align: center;
                     }
                }

                &__amount {
                    .amount {
                        width: 123px;
                        display: inline-block;
                        vertical-align: middle;
                        border: 1px solid #e8e8e1;
                        line-height: 34px;

                        .minus, .plus {
                            font-size: 20px;
                            font-weight: 700;
                            float: left;
                            width: 28px;
                            height: 34px;
                            text-align: center;
                            cursor: pointer;
                        }

                        input {
                            display: block;
                            float: left;
                            font-size: 12px;
                            color: #767676;
                            text-align: center;
                            background-color: #fff;
                            border-top: none;
                            border-bottom: none;
                            border-left: 1px solid #e8e8e1;
                            border-right: 1px solid #e8e8e1;
                            padding: 0;
                            margin: 0;
                            height: 34px;
                            width: 65px;
                        }
                    }
                }

                &__remove {
                    cursor: pointer;
                }
            }
        }

        .purchase__coupon {
            padding: 10px 0;
            border-bottom: 1px solid #ddd;

            .coupon__input {
                vertical-align: top;
                width: 165px;
                height: 34px;
                padding: 0 8px;
                border: 1px solid #e8e8e1;
                border-radius: 2px;
                font-size: 13px;
                font-family: inherit;

                &:focus {
                    border: 1px solid #e8e8e1;
                }
            }

            .coupon__btn {
                display: inline-block;
                vertical-align: top;
                height: 34px;
                padding: 0 25px;
                color: #fff;
                text-align: center;
                font-size: 13px;
                background: #000;
                cursor: pointer;
                border: none;
            }
        }

        .purchase__total {
            font-weight: 700;
            font-size: 20px;
            border-bottom: none;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: -10px;
            margin-right: -10px;

            & > div {padding: 10px;}
        }

        .deliveries {
            margin-bottom: 50px;

            &__title {
                margin-bottom: 1rem;
                font-size: 30px;
                font-weight: 400;

                @media (max-width: 767px) {
                    font-size: 26px;
                 }
            }

            .item {
                &:not(:last-child) {margin-bottom: 20px;}

                label {
                    input[type="radio"]:checked+span:after {
                        background-color: #0275d8;
                    }
                    input {
                        &:checked ~ .item__description {
                            max-height: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .item__title {
                        margin-bottom: 10px;
                        color: black;
                        font-weight: 700;
                    }

                    .item__description {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding-left: 35px;
                        color: black;
                        max-height: 0;
                        opacity: 0;
                        visibility: hidden;
                    }
                }
            }
        }

        .filling-form {
            .row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
                margin-bottom: 0;

                @media (max-width: 550px) {
                    grid-template-columns: 1fr;
                    column-gap: 0;
                    gap: 15px;
                }
            }

            &__input, &__textarea {
                input, textarea {
                    display: block;
                    width: 100%;
                    padding: 0.4375rem 0.75rem;
                    color: #55595c;
                    background-color: #fff;
                    background-image: none;
                    border: 0.0625rem solid #c1c2c8;
                    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

                    &:focus {
                        border: 0.0625rem solid #66afe9;
                        outline: 0;
                    }
                }

                textarea {
                    resize: none;
                }
            }

            &__textarea {
                margin-bottom: 15px;
            }

            &__btn {
                display: inline-block;
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;
                touch-action: manipulation;
                border: 2px solid #000;
                background-color: transparent;
                color: #000;
                padding: 0.375rem 1rem;
                transition: all .2s ease-in-out;
                font-size: 1rem;
                line-height: 1.5;
                cursor: pointer;
            }
        }
    }
}